<html>
<head>
  <title>Secrets are mine bahhh!!!</title>
</head>
<body>
  <h1>Your Secrets are safe with me, {{user.first_name}}, hehehehe!</h1>
  <a href="{% url 'logout' %}">logout</a>
  <a href="{% url 'popular' %}">Most Likes</a>
  <p>Create a new secret here:</p>
  <form action="{% url 'add-secret' %}" method="post">
    {% csrf_token %}
    <textarea name="content"></textarea>
    <input type="submit" value="Create">
  </form>
<h4>All Secret:</h4>
  {% for secret in secrets %}
    <p> {{secret.num_likes}}:likes</p>
    <p>{{ secret.content }} ({{ secret.created_at }})</p>
      <!---delete button--->
      {% if secret.user.id == user.id %}
        <form action="{% url 'delete-secret' id=secret.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="delete">
        </form>
      {% endif %}
      <!---like Button--->
      {% if user not in secret.liked_by.all  %}
        <a href="{% url 'like-secret' id=secret.id %}">Like</a>
      {% else %}
        <a href="{% url 'unlike-secret' id=secret.id %}">Unlike</a>
      {% endif %}
  {% endfor %}
</body>
</html>
